<%- include('./templates/header.ejs') %>
    <div class="LOGIN">
        

    <div style="color: red;">
    <%= message %>
    </div>

    <form action="" method="post">
        <h1>ĐĂNG NHẬP</h1>
        <label for="">Email:</label>
        <input type="email" name="email" placeholder="email cua ban "> <br>
        <label for="">Password:</label>
        <input type="password" name="password" placeholder="password"> <br>
        <button type="submit">dang nhap</button>
    </form>
    </div>
<%- include('./templates/footer') %>

