
<footer>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h3 class="name_website">THE COFFEE HOUSE</h3>
                <div>
                    <img src="/public/img/Group.png" alt="">
                </div>
                <p>
                    Chào mừng bạn đã tới!
                </p>
            </div>
            <div class="col-4">
                <h3 class="title"> GiớI thiệu</h3>
                <ul>
                    <li><a href="">Trang chủ</a></li>
                    <li><a href="">Sản phẩm</a></li>
                    <li><a href="">Liện hệ</a></li>
                    <li><a href="">...</a></li>
                </ul>
            </div>
            <div class="col-4">
                <h3 class="title">Liên Hệ</h3>
                <ul>
                    <li><a href=""> 24/7</a></li>
                    <li><a href="">SDT: 0959692398</a></li>
                    <li><a href="">Email: Dthanh@gmail.com</a></li>
                    <li><a href="">Địa chỉ: HCM</a></li>
                </ul>
            </div>
            <div class="column">
                <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125401.87209549599!2d106.53689569726562!3d10.825962100000025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528f093af4657%3A0x8730cfce3447f85d!2zR29uZyBDaGEgUGhhbiBWxINuIFRy4buL!5e0!3m2!1svi!2sus!4v1712405047516!5m2!1svi!2sus"
                  width="400"
                  height="250"
                  style="border: 2"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                >
                </iframe>
              </div>
        </div>
    </div>
</footer>
<!-- end footer -->
<script src="/public/js/banner.js"></script>
</body>
</html>